.container {
    h1 {
        margin-left: 50px;
    }

    button {

        a {

            color: white;
            text-decoration: none;
        }
    }
}
.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.review-block {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user {
    font-weight: bold;
    color: #333;
}

.rating {
    margin-top: 5px;
}

.comment {
    margin-top: 10px;
}

.timestamp {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.review-block-comment {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
}